/* Your CSS here. */
.card {
    background-color: rgb(225, 176, 224);
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 1000px;
    margin-top: 30px;
}

.headshot {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
h1 {
  margin-bottom: 2px;

}

.linkedin {
    display: block;
    font-size: 18px;
    color: #0077b5;
}

.intro {
    text-align: center;
}